<a href="/web/sales-enablement/home">
	<div class="hide sales-enablement-hub-card">
		<div class="sales-enablement-hub-card-icon">
			<span></span>
		</div>

		<h2>
			Sales Enablement Hub
		</h2>

		<div class="sales-enablement-hub-card-description">
			<p>
				Find the latest presentation decks, battle cards, reports, and other essential resources to effectively position and sell Liferay solutions.
			</p>
		</div>

		<div class="sales-enablement-hub-card-go-to-text">
			<p>
				Go to the Sales Enablement Hub
			</p>
		</div>
	</div>
</a>